{{!< layouts/default}}


<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="page-header">
            <h1>All Aboard!</h1>
        </div>
        <p>
            Welcome to Express Train. This a seed project with some built in libraries like mongoose, handlebars, jquery and bootstrap.  We encourage you to learn more about Express Train's boilerplate system and create your own seeds <a href="https://github.com/autoric/express-train#train-boilerplate-" target="_blank">here</a>.
        </p>
    </div>
</div>
